Source: wmsensors
Section: x11
Priority: optional
Maintainer: Julien Danjou <acid@debian.org>
Build-Depends: libsensors-dev (>= 2.8.4), debhelper (>= 5), libx11-dev, libxext-dev, libxpm-dev, xutils-dev
Standards-Version: 3.8.0

Package: wmsensors
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: suidmanager (<< 0.50)
Suggests: x-terminal-emulator
Description: WindowMaker dock applet for lmsensors
 wmsensors is a WindowMaker applet that shows bar graphs of the information
 available through the lm-sensors interface
